// Typography & Sizes
$header-font: "Source Sans Pro", sans-serif;
$text-font: "Montserrat", sans-serif;
$font-color: #726e6e;
// Colors
$primary-light: #ffffff;
$primary-grey: #dcdcdc;

$secondary-dark: rgba(20, 18, 31, 0.8);

$accent-mint: #abebb9;
$accent-blue: #a7c6f1;
$accent-orange: #f5d0a8;
$inputField-grey: #a6afb44d;

// Spacing
// Form mixins
// Mobile first - will look horrible on desktop
@mixin form {
  margin-inline: 2rem;
  width: 100%;
  min-height: 90vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 1rem;
  background: rgba(255, 254, 254, 0.3);
  // background: rgba(167, 198, 241, 0.3);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(254, 253, 255, 0.3);
}
@mixin inputField {
  background-color: $inputField-grey;
  color: $primary-light;
  min-width: 350px;
  max-width: 80%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 1.6rem 0.8rem;
  &::placeholder {
    color: $primary-light;
  }
}

@mixin inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@mixin button {
  margin-left: 0.5rem;
  padding: 1rem 3.5rem;
  outline: none;
  border: none;
  border-radius: 8px;
  @include onHover();
}
@mixin formSection {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
}
@mixin onHover {
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: $accent-blue;
  }
}

































































































































// Christian start 200 -

@mixin subtopicSection {
  padding: 2rem 1.2rem;
  min-height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}
@mixin subtopicBox {
  padding: 1rem;
  min-height: 50px;
  width: 100%;
  background-color: $secondary-dark;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
}

@mixin modalButton {
      padding: 0;
      margin: 0;
      height: 2.5rem;
      min-width: 2.5rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
}





















































































// Dashboard Mixins
@mixin PageContainer {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@mixin QuoteBox {
  color: $font-color;
  padding: 10px;
  line-height: 1.5;
  text-align: center;
  width: 90vw;
  height: fit-content;
  border-radius: 10px;
  background-color: $primary-light;
  font-family: $text-font;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
}

@mixin CalendarBox {
  background-color: $primary-light;
  border-radius: 10px;
  width: 90vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
}

@mixin CardBox {
  padding: 20px;
  text-align: center;
  width: 90vw;
  height: fit-content;
  border-radius: 10px;
  background-color: $primary-light;
  font-family: $text-font;
  color: $font-color;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

@mixin OuterBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  margin-bottom: 10px;
  background-color: $primary-light;
  font-family: $text-font;
  color: $font-color;
  background-color: $primary-grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@mixin TopicBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2D1F9;
  height: 130px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@mixin StandardButton {
  width: 70px;
  height: 30px;
  font-family: $text-font;
  font-size: 110%;
  color: $font-color;
  background-color: $accent-blue;
  border: $accent-blue;
  border-radius: 7px;
}