@import "../Variables/Variables.scss";

body {
    background-color: $primary-grey
}

.pageContainer {
    @include PageContainer;

    .quoteContainer {
        @include QuoteBox
    }
    
    .calendarContainer {
        @include CalendarBox;

        .todoText {
            text-align: center;
            width: 90%;
        }
    }

    .topicContainer {
        @include CardBox;
    

            .outerContainer {
                @include OuterBox
        }

        .innerContainer {
            @include TopicBox;

            a {
                font-family: $text-font;
                text-decoration: none;
                color: $font-color;
                font-size: 200%;
                font-weight: bolder;
            }
        }

        .standardButton {
            @include StandardButton
        }

        .favoriteIcon {
            font-size: 200%;
            color: $font-color;
        }

        .arrowContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .arrow {
            font-size: 50px;
        }
    }
}