@import "../Variables/Variables.scss";

.subtopicSection {
  @include subtopicSection;
  gap: 2rem;
  // color: $primary-light;
  color: #000;

  :nth-child(1) {
    text-align: center;
    margin-block: 1rem;
  }
  .subtopicBox {
    @include subtopicBox;
  }
  .subtopicDescription {
    Button {
      @include modalButton;
    }
  }

  .subtopicCodeDemo {
    min-height: 200px;
    position: relative;
    Button {
      @include modalButton;
    }
  }
  .subtopicGist {
    min-height: 400px;
    position: relative;

    // Heading 3
    :nth-child(1) {
      margin-bottom: 1rem;
      // padding: 1rem;
    }
    Button {
      @include modalButton;
    }

    // Title
    :nth-child(3) {
      padding: 0.5rem 1rem;
      min-height: 85px;
    }
    // Description
    :nth-child(4) {
      color: $secondary-dark;
      padding: 1rem;
      background-color: $primary-grey;
      display: block;
      min-height: 200px;
    }
  }
  .subtopicResources {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // background-color: red;
    :nth-child(2) {
      // background-color: red;
      min-width: 180px;
    }
  }
}
