@import "../Variables/Variables.scss";

.subtopicSection {
  @include subtopicSection;
  gap: 2rem;
  color: #333333;

  h1 {
    text-align: center;
  }
  h1,
  h3 {
    color: var(--secondary-black);
    margin-bottom: 1rem;
  }
  :nth-child(1) {
    margin-block: 1rem;
  }
  .subtopicBox {
    position: relative;
    @include subtopicBox;
  }
  .subtopicDescription {
    min-height: 100px;
    Button {
      @include modalButton;
    }
  }

  .subtopicCodeDemo {
    min-height: 200px;
    position: relative;
    Button {
      @include modalButton;
    }
  }
  .subtopicGist {
    min-height: 400px;
    position: relative;

    // Heading 3
    :nth-child(1) {
      margin-bottom: 1rem;
    }
    Button {
      @include modalButton;
    }

    // Title
    :nth-child(2) {
      min-height: 85px;
    }
    // Gist Box
    :nth-child(3) {
      color: $secondary-dark;
      background-color: $primary-grey;
      display: block;
      min-height: 200px;
      padding: 1rem;
    }
  }
  .subtopicResources {
    display: flex;
    flex-direction: column;
    Button {
      @include modalButton;
    }
  }
}
