@import "../Variables/Variables.scss";

.subtopicSection {
  @include subtopicSection;
  gap: 2rem;

  .subtopicBox {
    // background-color: red;
    @include subtopicBox;
  }
  :nth-child(1) {
    text-align: center;
    margin-top: 1rem;
  }
  .subtopicCodeDemo {
    // background-color: green;
    min-height: 200px;
  }
  .subtopicGist {
    // background-color: orange;
    min-height: 400px;
  }
}
